body {
  text-align: center;
    padding: 30px;
        background-color: lightblue;

}

h3 {
  text-decoration: underline;
          background-color: lightblue;

}
title{
	background-color: blue;
}
